
.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
